.container {
  background-color: white;
}

.pagelayout {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 60vw;
  margin: auto;
  flex-direction: row;
}

.profileImage {
  padding-top: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.profileImage:hover {
  opacity: 0.7;
}

.profile_image_container {
  width: 80%;
  height: 150px;
}
.icon {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 20px;
  height: 20px;
}

.icon:hover {
  opacity: 0.3;
}

.btn-group {
  width: 20%;
  height: 40px;
  padding-top: 3px;
}

.username {
  width: 100%;
}

#follow_count {
  background-color: red;
  border-radius: 50%;
  color: white;
  margin: 3px;
  padding-left: 4px;
  padding-right: 5px;
}

#notify {
  position: relative;
  background-color: red;
  border-radius: 50%;
  font-size: 11px;
  color: white;
  padding-left: 4px;
  padding-right: 1px;
  right: 10px;
  top: 6px;
}
