<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/home.css')}}"
    />
  </head>
  <body>
    {% extends "_layout.html" %} {% block title %} Homepage {% endblock %} {%
    block header %} {% endblock %} {% block content %}
    <h1>Homepage</h1>
    {% if current_user.is_authenticated %} Hi {{ current_user.username
    }}!{%endif%} {% endblock %}
  </body>
</html>
